---
title: Canvas + SVG
---

<script lang="ts">
  import App from './App.svelte';
  import Example from '../../_components/Example.svelte';

  let { data } = $props();
</script>

<Example width="960px" aspectRatio="8/5" files={data.files}>
  <App />
</Example>
