---
title: Hello World
---

<script>
  import App from './App.svelte';
  import Code from '../../../_components/Code.svelte';
</script>

<div class="border">
  <App />
</div>

<Code files={['hello-world/App.svelte']} />
