---
title: Hello World
---

<script>
  import App from './App.svelte';
  import Example from '../../../_components/Example.svelte';
</script>

<Example aspectRatio="2/1" files={['hello-world/App.svelte']}>
  <App />
</Example>
