---
title: Globe
---

<script>
  import App from './App.svelte';
  import Code from '../../../_components/Code.svelte';
</script>

<div class='border'>
  <App />
</div>

<Code
  files={['globe/App.svelte', 'globe/Graticule.svelte', 'globe/Land.svelte']}
/>

<style>
  div {
    width: 100%;
    max-width: 640px;
  }
</style>
