---
title: DVD Bounce
---

<script>
  import App from './App.svelte';
  import Code from '../../../_components/Code.svelte';
</script>

<div class="border">
  <App />
</div>

<Code
  files={[
    'dvd-bounce/App.svelte',
    'dvd-bounce/Background.svelte',
    'dvd-bounce/Logo.svelte',
  ]}
/>
