---
title: Scatterplot
---

<script>
  import App from './App.svelte';
  import Code from '../../../_components/Code.svelte';
</script>

<div class='border'>
  <App />
</div>

<Code
  files={[
    'scatterplot/App.svelte',
    'scatterplot/Axis.svelte',
    'scatterplot/Point.svelte',
  ]}
/>

<style>
  div {
    max-width: 640px;
    width: 100%;
  }
</style>
