---
title: Scatterplot
---

<script>
  import App from './App.svelte';
  import Example from '../../../_components/Example.svelte';
</script>

<Example
  files={[
    'scatterplot/App.svelte',
    'scatterplot/Axis.svelte',
    'scatterplot/Point.svelte',
  ]}
>
  <App />
</Example>
