---
title: DVD Bounce
---

<script>
  import App from './App.svelte';
  import Example from '../../_components/Example.svelte';

  let { data } = $props();
</script>

<Example aspectRatio="16/9" files={data.files}>
  <App />
</Example>
