---
title: Layer
---

<script lang="ts">
  import Code from '../../../_components/Code.svelte';
</script>

## {title}

The `Layer` component encapsulates a piece of your canvas rendering logic. When render functions are defined reactively, every layer re-renders when the dependencies of any layer's render function change.

<Code text={`
<script>
  // When the value of the \`text\` store changes, \`render\` is updated,
  // triggering a render of the entire canvas.
  $: render = ({ context }) => context.fillText($text, 10, 10);
</script>\n
<Layer {render} />
`} />

### Props

#### `render`

A function that receives a `props` object with the following properties;

<Code lang='ts' text={`
render: (props: {
  context: CanvasRenderingContext2D;
  width: number;
  height: number;
  time: number;
}): void;
`} />


<Code text={`
<!-- Render the time since initialization, centered on the canvas. -->
<Layer render={({ context, width, height, time }) => {
    context.fillText(time, width / 2, height / 2);
}} />
`} />

#### `setup`

The `setup` function has the same signature as `render` but is only called once when the layer is initialized.

<Code lang='ts' text={`
setup: (props: {
  context: CanvasRenderingContext2D;
  width: number;
  height: number;
  time: number;
}): void;
`} />

### Event handling

When the `layerEvents` prop on the parent `Canvas` component is `true`, individual `Layer` instances can handle events that fall within the pixels they have rendered on the canvas. Event handlers registered with the `on:` directive receive a `CustomEvent` with properties `detail.x` and `detail.y` representing the coordinates of the event relative to the parent canvas, as well as `detail.originalEvent`, which contains the original DOM event from the `canvas` element.

<Code text={`<script>
  import { Canvas, Layer, type CanvasLayerEvent } from 'svelte-canvas';
  
  const render = ({ context }) => { ... };
   
  const handleClick = (e: CanvasLayerEvent) => {
    console.log(e.detail.x, e.detail.y);
  };
</script>
 
<Canvas layerEvents>
  <Layer {render} on:click={handleClick} />
</Canvas>
`} />

`Layer` supports the following event types:

`'click' | 'contextmenu' | 'dblclick' | 'mousedown' | 'mouseenter' | 'mouseleave' | 'mousemove' | 'mouseup' | 'wheel' | 'touchcancel' | 'touchend' | 'touchmove' | 'touchstart' | 'pointerenter' | 'pointerleave' | 'pointerdown' | 'pointermove' | 'pointerup' | 'pointercancel'`