---
title: Resizable Layer
---

<script>
  import App from './App.svelte';
  import Code from '../../../_components/Code.svelte';
</script>

<div class="border">
  <App />
</div>

<Code
  files={[
    'resize/App.svelte',
    'resize/ResizableLayer.svelte',
    'resize/ResizableLayerHandle.svelte',
    'resize/ResizableLayerSurface.svelte',
  ]}
/>
