---
title: Reactive render
---

<script>
  import App from './App.svelte';
  import Example from '../../_components/Example.svelte';

  export let data;
</script>

<Example aspectRatio="2/1" files={data.files}>
  <App />
</Example>
